.draggableDiv{
    width: 70px;
    height: 70px;
    background-color: grey;
    color: white;
    margin: 10px;
    border-radius: 5px;
}

.droppableDiv{
    width: 200px;
    height: 200px;
    float: right;
    color: black;
    margin: 10px;
    background-image: url('../images/target.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.inner-droppable{
/*    width: 100px;
    height: 100px;
    background-color: gainsboro;
    */
}

.drop-hover {
    border:5px solid orange
}

.leftDiv{
    float: left;
    width: 200px;
    height: 400px;
    border: 1px solid blue;
    background-color: floralwhite;
}

.rightDiv{
    float: left;
    width: 500px;
    height: 500px;
    border: 1px solid red;
    margin-left: 200px;
    
}