<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- CSS -->
        <link href="css/home.css" rel="stylesheet" type="text/css"/>
        <link href="app/views/factOrMyth/dragTop/dragTop.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="app/views/factOrMyth/factOrMyth.css" />
        <link href="app/views/factOrMyth/picGallery/picGallery.css" rel="stylesheet" type="text/css"/>
        <link href="app/views/spaceHistory/spaceHistory.css" rel="stylesheet" type="text/css"/>
        <link href="app/views/factOrMyth/otherScience/otherScience.css" rel="stylesheet" type="text/css"/>
        <link href="app/views/videoExhibit/videoExhibit.css" rel="stylesheet" type="text/css"/>
        <link href="libs/ngDialog/ngDialog.css" rel="stylesheet" type="text/css"/>
        <link href="libs/ngDialog/ngDialog-theme-default.css" rel="stylesheet" type="text/css"/>
        <link href="bower_components/slick-carousel/slick/slick.css" rel="stylesheet" type="text/css"/>
        <link href="bower_components/slick-carousel/slick/slick-theme.css" rel="stylesheet" type="text/css"/>
        
        <link href="libs/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="images/favicon.ico"/>
        
        <title>InfoKiosk</title>
    </head>
    
    <body>
        <a  class="btn btn-info btn-lg" ng-click='back()' ng-show="!isHomePage">
          <span class="glyphicon glyphicon-hand-left"></span> BACK
        </a>
        <a  class="btn btn-info btn-lg" ng-click='home()' >
          <span class="glyphicon glyphicon-home"></span> HOME
        </a>
        
        
        <a ng-repeat="(key, value) in languages" class="btn btn-info btn-lg" 
           ng-click='lang.changeLanguage(key)' ng-show="!isQuizPage">
          <span class="glyphicon glyphicon-flag"></span> {{value}}
        </a>
<!--        <a  class="btn btn-info btn-lg" ng-click='lang("eng")'>
          <span class="glyphicon glyphicon-thumbs-down"></span> ENG
        </a>-->
        
        <div ng-view></div>
    
        <!-- Libraries -->
        <script src="libs/jquery/jquery.js" type="text/javascript"></script>
        <script src="libs/jquery/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
        <script src="libs/jquery/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
        <script src="libs/angulary/angular.min (1).js" type="text/javascript"></script>
        <script src="libs/angulary/angular-route.js" type="text/javascript"></script>
        <script src="libs/angulary/angular-animate.js" type="text/javascript"></script>
        <script src="libs/angulary/angular-touch.min.js" type="text/javascript"></script>
        <script src="libs/angulary/angular-scroll.js" type="text/javascript"></script>
        
        <!-- OTHER STUFF -->
        <script src="libs/sortable/sortable.js" type="text/javascript"></script>
        <script src="libs/ngDialog/ngDialog.js" type="text/javascript"></script>
        <script src="libs/TweenMax.min.js" type="text/javascript"></script>
        <script src="libs/angulary/angular-dragdrop.min.js" type="text/javascript"></script>
        <script src="libs/hamster.js" type="text/javascript"></script>
        <script src="libs/mousewheel.js" type="text/javascript"></script>
        <script src="libs/kineticSlider.js" type="text/javascript"></script>
        <script src="bower_components/slick-carousel/slick/slick.js" type="text/javascript"></script>
        <script src="bower_components/angular-slick/dist/slick.js" type="text/javascript"></script>
        
        <!-- bootstraping angular -->
        <script src="app/core/app.module.js" type="text/javascript"></script>
        <script src="app/core/app.lang.service.js" type="text/javascript"></script>
        <script src="app/core/app.run.js" type="text/javascript"></script>
        <script src="app/core/app.routes.js" type="text/javascript"></script>     
        
        <script type="text/javascript">
            $(document).on('ready', function(){
                angular.bootstrap($('html'), ['mainApp']);
            });
        </script>
        
        <!-- History of space -->
        <script src="app/views/spaceHistory/spaceHistory.module.js" type="text/javascript"></script>
        <script src="app/views/spaceHistory/spaceHistory.controller.js" type="text/javascript"></script>
        <script src="app/views/spaceHistory/scrollWatcher.directive.js" type="text/javascript"></script>
        <script src="app/views/spaceHistory/spaceHistoryScroll.service.js" type="text/javascript"></script>
        <script src="app/views/spaceHistory/PopupController.controller.js" type="text/javascript"></script>
        
        <!-- Video Exhibit -->
        <script src="app/views/videoExhibit/videoExhibit.module.js" type="text/javascript"></script>
        <script src="app/views/videoExhibit/videoExhibitController.controller.js" type="text/javascript"></script>
        <script src="app/views/videoExhibit/videoPopupController.controller.js" type="text/javascript"></script>
        <script src="app/views/videoExhibit/videoExhibit.routes.js" type="text/javascript"></script>
        
        <!-- FACT OR MYTH -->
        <script src="app/views/factOrMyth/factOrMyth.module.js" type="text/javascript"></script>
        <script src="app/views/factOrMyth/factOrMyth.controller.js" type="text/javascript"></script>
        <script src="app/views/factOrMyth/factOrMyth.routes.js" type="text/javascript"></script>
        
            <!-- Test -->
            <script src="app/views/factOrMyth/fomTest/fomTest.module.js" type="text/javascript"></script>
            <script src="app/views/factOrMyth/fomTest/fomTest.controller.js" type="text/javascript"></script>
            <script src="app/views/factOrMyth/fomTest/fomTest.directive.js" type="text/javascript"></script>
            <script src="app/views/factOrMyth/fomTest/fomTest.service.js" type="text/javascript"></script>
            
            <!-- DRAG & DROP -->
            <script src="app/views/factOrMyth/dragTop/dragTop.module.js" type="text/javascript"></script>
            <script src="app/views/factOrMyth/dragTop/dragTop.controller.js" type="text/javascript"></script>
            
            <!-- Picture Gallery -->
            <script src="app/views/factOrMyth/picGallery/picGallery.module.js" type="text/javascript"></script>
            <script src="app/views/factOrMyth/picGallery/picGallery.controller.js" type="text/javascript"></script>
            
            <!-- Other Science -->
            <script src="app/views/factOrMyth/otherScience/otherScience.module.js" type="text/javascript"></script>
            <script src="app/views/factOrMyth/otherScience/otherScienceController.controller.js" type="text/javascript"></script>
            <script src="app/views/factOrMyth/otherScience/SciencePopupController.controller.js" type="text/javascript"></script>
            
    </body>
</html>


