<div class="headName">{{lang.data.factOrMyth.pictureGallery.title}}</div>
<div ng-class="{slickLoaded: pg.loaded}" class="slick-wrapper">        
    <slick dots="true" infinite="true" speed="150" slides-to-show="1" 
           touch-move="true" slides-to-scroll="1" center-padding="250px" 
           center-mode="true" arrows="false" focus-on-select="false" break-point="500"
           current-index="pg.activeSlide">
        <!--center-padding controlle cik daudz grib redzet nakamas bildes -->
     
    
            <div ng-repeat="pic in pg.slides"
                ng-swipe-left="swiping=true;" ng-swipe-right="swiping=true;" >
                <div inner="pic" src="{{pic.image}}" ng-style="{height: '501px'}"
                     ng-click="pg.showGalleryPopup(pic)" ></div>
                <!--<images src="{{pic.image}}"></images>-->
                <!--<p class="galleryText">{{pic.description}}</p>-->
            </div> 
        
            <p class="galleryText" ng-repeat="picText in pg.slidesText.data.factOrMyth.pictureGallery.pictures"
               ng-show="pg.activeSlide == $index">{{picText.description}}</p>
        
    </slick>
</div>
    
    <div class="rightBlur" ng-show="pg.loaded"></div>
    <div class="leftBlur" ng-show="pg.loaded"></div>
    
<!--</div>-->
