
<!--<div class="container slider">
    <img ng-repeat="slide in slides" class="slide slide-animation nonDraggableImage"
         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
         ng-src="{{slide.image}}" ng-hide="!isCurrentIndex($index)">
         {{slide.description}}
    <a class="arrow prev"  ng-click="nextSlide()"> <<<< </a>
    <a class="arrow next"  ng-click="prevSlide()"> >>>> </a>
    
    <nav class="nav">
        <div class="wrapper">
            <ul class="dots">
                <li class="dot" ng-repeat="slide in slides">
                    <a href="#/factMyth/pictureGallery" ng-class="{'active':isCurrentIndex($index)}"
                       ng-click="setCurrentSlideIndex($index)">
                           {{slide.description}}
                    </a>
                </li>
            </ul>
            
        </div>
    </nav>

    <div class="objectContents">
        <div class="objectContent" ng-repeat="slide in slides" ng-hide="!isCurrentIndex($index)">{{slide.description}}</div>
    </div>
    
    
</div>-->
        
    <slick class="customSlick" dots="true" infinite="true" speed="300" slides-to-show="1" 
           touch-move="true" slides-to-scroll="1" center-padding="200px" 
           center-mode="true" arrows="false" focus-on-select="false" break-point="500">
        <!--center-padding controlle cik daudz grib redzet nakamas bildes -->
     
    
            <div ng-repeat="pic in slidesText.data.factOrMyth.pictureGallery" ng-cloak
                ng-swipe-left="swiping=true;" ng-swipe-right="swiping=true;" 
             ng-click="swiping ? ( swiping = false ) : showGalleryPopup(pic.description)">
                <img ng-src="{{pic.image}}" />
                <!--<images src="{{pic.image}}"></images>-->
                <!--<p class="galleryText">{{pic.description}}</p>-->
            </div> 
            <!--<p class="galleryText" ng-repeat="picText in slidesText.data.factOrMyth.pictureGallery">{{picText.description}}</p>-->
        
        
   
    </slick>
    
    <div class="rightBlur"></div>
    <div class="leftBlur"></div>
    
<!--</div>-->

