<div class="scrollingDIV" scroll-watcher id="testDIV">
    <div class="objects" >
        <div class="object" id="object-id-{{$index}}" ng-click="clickToOpenHistory(o.objectTitle) 
             "ng-repeat="o in historyObejcts.data.spaceHistory.spaceObjects">{{o.objectTitle}}</div>
    </div>
    
</div>
<div class="btn btn-danger first" ng-click="scrollto('object-id-0')">First element</div>
<div class="btn btn-success last" ng-click="scrollto('object-id-6')">Last element</div>
<div class="log">{{scrollValue}}</div>
      
<!--        <script>
            
            document.getElementById('testDIV').addEventListener('scroll',function(){
    
                //console.log(document.getElementById('testDIV').scrollLeft);
                $(".log").html("scroll x:"+document.getElementById('testDIV').scrollLeft);

            });
            
        </script>-->