.object{
    display: inline-block;
    width: 200px;
    height: 100px;
    border: 1px solid black;
    background-color: azure;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 100px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}
::-webkit-scrollbar { 
    display: none; 
}

.object.ng-binding.ng-scope {}

.objects{
    /* border: 1px solid red; /
    / width: 1400px; /
    / overflow-x: auto; */
    height: 300px;
    min-width: 2000px;
    overflow: x-scroll;
    background-image: url('/infoKiosk/images/back-stripe.png');
    background-size: 100% 100%;
}

.scrollingDIV{
    width: 800px;
    /* position: absolute; */
    border: 1px solid green;
    margin: auto;
    overflow-x: scroll;
    /* overflow-x: hidden; */
    margin-top: 100px;
}

.scrolIcons{
    
    position: absolute;
    left: 50%;
}

.scrollStart.ng-hide-add, .scrollEnd.ng-hide-add {
    display: none  !important;
}

.scrollEnd{
    color: white;
    font-size: 50px;
    float: left;
    margin-left: 50px;
    animation: rightLeft 3s infinite ease;
    
}

.scrollStart{
    
    color: white;
    font-size: 50px;
    float: left;
    margin-left: 50px;
    animation: leftRight 3s infinite ease;
}
.last{
    float: right;
    /* width: 101px; */
}

.log{
    margin: auto;
    /* float: none; */
    width: auto;
    width: 200px;
    color: white;
    font-size: 30px;
}

.log2{
    color: white;
    font-size: 30px;
}

.latviaLogo{
    width: 200px;
    height: 116px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    margin: 20px;
    background: url('/infoKiosk/images/latvia.png');
    background-size: 100% 100%;
}

.englishLogo{
    width: 208px;
    height: 200px;
    right: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    margin: 20px;
    background: url('/infoKiosk/images/world.png');
    background-size: 100% 100%;
}

.inner-object{
    position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.imagefitToWindow{
    border: 1px solid red;
    width: 50%;
    height: auto;
}

@keyframes rightLeft {
    0%, 10%, 20%, 30%, 40%, 60%, 70%, 80%, 90%, 100% {
        transform: translateX(0);
  }
    45% {
        transform: translateX(4px);
  }
    50% {
        transform: translateX(0px);
  }
    55% {
        transform: translateX(4px);
  }
}

@keyframes leftRight {
    0%, 10%, 20%, 30%, 40%, 60%, 70%, 80%, 90%, 100% {
        transform: translateX(4px);
  }
    45% {
        transform: translateX(0px);
  }
    50% {
        transform: translateX(4px);
  }
    55% {
        transform: translateX(0px);
  }
}

[data-message]{ position:fixed; top:0; left:0; width:100%;}
[data-message] .message{ max-width:75%; margin:0 auto; text-align:center;}
[data-message] .message span{ margin-left:10px; white-space:nowrap;}
[data-message] .message span:first-child{ margin-left:0;}
[scroll-test]{ list-style:none; padding:0; margin:0;}
[scroll-test] li{ margin:10px 0; padding:20px; border:1px solid #ddd;}