
<div class="scrolIcons">
    <div class="scrollStart glyphicon glyphicon-chevron-left" ng-hide="isScrolledToStart"></div>
    <div class="scrollEnd glyphicon glyphicon-chevron-right" ng-hide="isScrolledToEnd"></div>
</div>
<div class="scrollingDIV" scroll-watcher id="testDIV">
    <div class="objects" id="scrollLength" >
        <div class="object" id="object-id-{{$index}}" ng-click="clickToOpenHistory(o.objectTitle) 
             "ng-repeat="o in lang.data.spaceHistory.spaceObjects" ng-show="tempVal == 'english'">
            <div class="inner-object" >
                {{o.objectTitle}}
            </div>
        </div>
        <div class="object" id="object-id-{{$index}}" ng-click="clickToOpenHistory(o.objectTitle) 
             "ng-repeat="o in lang.data.spaceHistory.latvianSpaceObjects" ng-show="tempVal == 'latvian'">
            <div class="inner-object" >
                {{o.objectTitle}}
            </div>
        </div>
    </div>
</div>
<div class="btn btn-danger first" ng-click="scrolltoStart()">First element</div>
<div class="btn btn-success last" ng-click="scrolltoEnd()">Last element</div>
<div ng-class="latviaLogo"  class="latviaLogo" ng-click="openOtherHistory(debugLatvianHistory)" ng-show="debugLatvianHistory"></div>
<div class="log">{{scrollValue}}</div>



      
<!--        <script>
            
            document.getElementById('testDIV').addEventListener('scroll',function(){
    
                //console.log(document.getElementById('testDIV').scrollLeft);
                $(".log").html("scroll x:"+document.getElementById('testDIV').scrollLeft);

            });
            
        </script>-->