<a ng-class='{ disabled: isHomePage}' 
   class="btn btn-info btn-lg"
   ng-click='back()' >
    
    <span class="glyphicon glyphicon-hand-left"></span> BACK
    
  </a>

<a ng-class='{ disabled: isHomePage}'
    class="btn btn-info btn-lg"
    ng-click='home()' >
    
    <span class="glyphicon glyphicon-home"></span> HOME

</a>


<a ng-repeat="(key, value) in languages"
   ng-class='{ disabled: key === langselected || isQuizPage}'
   class="btn btn-info btn-lg {{key}} " 
   ng-click='lang.changeLanguage(key); languageIsclicked(key)'
   ng-cloak>

   <span class="glyphicon glyphicon-flag"></span> {{value}}
   
</a>