.sciencengDialog .ngdialog-content{
    /* border: 1px solid red; */
    width: 1000px !important;
    /*max-height: 500px;*/
/*    overflow-y: scroll;*/
}

.scienceImage{
    width: 300px;
    /* position: absolute; */
    right: 10px;
    /* margin: auto; */
    display: block;
    align-content: top;
}

/*.videoClass{
    width: 300px;
    display: block;
    margin: auto;
    margin-top: 5px;
    position: ab;
}*/
.popupContent{
    /* background-color: yellow; */
}
.floatedPic{
    float: right;
    width: auto;
    margin: 5px;
    /* border: 1px solid red; */
    /* display: block; */
}

.floatedPic2{
    float: left;
    width: auto;
    margin: 5px;
    top:100px;
}
.floatedVid {
    /* border: 1px solid red; */
    width: 300px;
    /* padding-top: 100px; */
    float: right;
    /* bottom: 0px; */
    display: block;
    /* bottom: -100px; */
    /* position: static; */
}

.ngdialog.ngdialog-theme-default{
    /* padding-top: 50% !important; */
}

