.testAnswerngDialog .ngdialog-content{
    border: 2px dotted orange;
    width: auto !important;
}
.imageDiv{
    width: 400px;
    margin: auto;
}

.answerButtons:nth-child(even) {background-color: #CCC !important}

.quizQuestionAnswer{
    font-size: 300px;
    line-height: 300px;
}

.quizQuestionAnswerText{
    font-size: 50px;
    line-height: 50px;
    font-style: italic;
}

.nextQuestion{
    width: 200px;
    height: 100px;
    float: right;
}