<style>
    #options.ng-enter{
        transition: 2s;
        opacity: 0;
    }
    #options.ng-enter-stagger{
        transition-delay: 0.1s;
    }
    #options.ng-enter-active{
        opacity: 1;
    }
    #options.ng-leave{
        transition: 0.75s;
        opacity: 1;
    }
    #options.ng-leave-active{
        opacity: 0;
    }
</style>
<div class="quiz-area" ng-show="inProgress">
    <div ng-show="!quizOver">
		<h2 id="question">{{question}}</h2>
        <div class="imageDiv" >
            <image ng-src="{{imageSrc}}" ng-cloak />
        </div>
		<div id="options">
            <div ng-repeat="option in options" class="answerDiv">
                <input class="btn btn-success answerButtons" type="button" name="answer" value="{{option}}" ng-click="checkAnswer(option)">
			</div>
		</div>
        <div class="ovalButtons">
            <div ng-repeat="k in idArr track by $index" class="navigationButtons">
                <div ng-if="$index <= id" class="indexFullButton animate-if"></div>
                <div ng-if="$index > id" class="indexRoundButton"></div>
            </div>
        </div>
        
<!--        <div class="answerDisplay" ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">{{langText.data.factOrMyth.next}}</button>
			<span ng-show="correctAns">{{langText.data.factOrMyth.right}}</span>
			<span ng-show="!correctAns">{{langText.data.factOrMyth.wrong}}</span>
		</div>-->
	</div>
 
<!--	<div class="endQuiz" ng-show="quizOver">
		<h2>{{langText.data.factOrMyth.endOfTest}}</h2>
        <div id="score">
            {{langText.data.factOrMyth.score}} : {{score}}
        </div>
		<button ng-click="reset()">{{langText.data.factOrMyth.playAgain}}</button>
	</div>-->
    
</div>
 
<div class="intro" ng-show="!inProgress">
	<button id="startQuiz" ng-click="start()" class="btn btn-primary start-button">{{langText.data.factOrMyth.start}}</button>
</div>