quiz{
    display: block;
    width : 100%;
    height: 600px;
    background-color: lightblue;
    /* border : 1px solid red; */
}

quiz.ng-isolate-scope {}

.title{
    text-align: center;
    font-style: italic;
}
.start-button{width: 50%;height: 50%;margin: 20px;font-size: 50px !important;/* top: 71%; *//* vertical-align: middle !important; *//* position: absolute; *//* top: 0; *//* right: 0; *//* left: 0; *//* bottom: 0; *//* margin: auto; *//* position: absolute; *//* top: 0; *//* left: 0; *//* bottom: 0; *//* right: 0; */}
.intro{
    height: 100%;
    margin: 0px auto 0px auto; text-align: center;
}

#question{
    text-align: center;
    padding-top: 20px;
}

.answerButtons{
    display: inline-block;
    height: 100px;
    width: 100%;
}

#options{
    /* display: block; */
    margin: auto;
    width: 90%;
}

.answerDiv{
    width: 46%;
    display: inline-block;
    margin: 2%;
}
.navigationButtons{
    width: 50px;
    display: inline-block;
}
.ovalButtons{
    /* display: inline-block; */
    /* border: 1px solid red; */
    width: 20%;
    margin: auto;
    height: 30px;
}
.indexRoundButton{
    background-image: url('/InfoKiosk/images/roundEmty.png');
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.indexFullButton{
    background-image: url('/InfoKiosk/images/roundFull.png');
    background-size: 100% 100%;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.answerDisplay{
    /* border: 1px solid red; */
    width: 27%;
    margin: auto;
    margin-top: 30px;
    font-size: 40px;
}
.endQuiz{
    width: 30%;
    height: 30%;
    font-size: 40px;
    margin: auto;
    margin-top: 20px;
}

.animate-if.ng-enter-stagger {
  transition-delay: 0.1s;
}